body {
  font-family: 'Roboto', sans-serif;
  background-color: #E9E2F3;
  color: #55356E;
  margin: 0;
  padding: 0;
}

h1 {
  color: #55356E;
  font-weight: bold;
  text-align: center;
}

.container {
  max-width: 1200px;
  padding: 20px;
  padding-top: 0px;
}

.card {
  border: none;
  border-radius: 15px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.card-img-wrapper {
  display: flex;
  justify-content: center; /* Center image */
  align-items: center; /* Center vertically */
  height: fit-content;
  padding: 15px;
  background-color: #D6F5FF;
  border-radius: 15px 15px 0 0;
}

.card-img-top {
  width: 100px; /* Fixed width for circular images */
  height: 100px; /* Fixed height for circular images */
  border-radius: 50%;
  object-fit: cover; /* Maintain aspect ratio while filling */
  border: 3px solid #55356E;
}

.card-body {
  z-index: 1;
  background-color: #ffffff;
  border-radius: 0 0 15px 15px;
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #55356E;
}

.btn {
  border-radius: 25px;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}

.btn-primary {
  background-color: #76A787;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #638b6e;
}

.btn-danger {
  background-color: #e3342f;
  color: #ffffff;
}

.btn-danger:hover {
  background-color: #c0242e;
}

.d-flex {
  margin-top: 1rem;
}
