.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #E9E2F3;
}

.login-title {
    color: #55356E;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.login-form {
    width: 100%;
    max-width: 400px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.input-field {
    border: 1px solid #D6D6D6;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
}

.input-field:focus {
    border-color: #55356E;
    box-shadow: 0 0 5px rgba(85, 53, 110, 0.5);
}

.login-button {
    background-color: #55356E !important;
    color: #FFFFFF !important;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #45647D;
}

/* Styling for error message */
.alert {
    color: #e3342f; /* Bootstrap danger color */
    margin-bottom: 15px; /* Merging margin for spacing */
}
